[package]
name = "merc_aterm-ffi"
description = "Foreign function interface for merc_aterm"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
merc_aterm.workspace = true
