[package]
name = "merc_macros"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
proc-macro = true

[dependencies]
delegate.workspace = true
proc-macro2.workspace = true
quote.workspace = true
syn.workspace = true