name: Cargo Deny

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: on

jobs:
  cargo-deny:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v6
      with:
        submodules: true

    - name: Check cargo deny
      uses: EmbarkStudios/cargo-deny-action@v2
      
    - name: Check cargo deny for GUI tools
      uses: EmbarkStudios/cargo-deny-action@v2
      with:
        manifest-path: tools/gui/Cargo.toml

    - name: Check cargo deny for mCRL2 tools
      uses: EmbarkStudios/cargo-deny-action@v2
      with:
        manifest-path: tools/mcrl2/Cargo.toml