name: Cargo Clippy

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: on

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:    
    - name: Install Ubuntu Dependencies
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: llvm, libfontconfig1-dev, libfreetype6-dev
        version: 1.0
      if: matrix.os == 'ubuntu-latest'

    - name: Setup sccache
      uses: mozilla-actions/sccache-action@v0.0.9

    - uses: actions/checkout@v6
      with:
        submodules: true

    - uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy

    - name: Run cargo clippy
      uses: sksat/action-clippy@v1.1.1
      with:
        reporter: 'github-pr-review'
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Run cargo clippy for GUI tools
      uses: sksat/action-clippy@v1.1.1
      with:
        reporter: 'github-pr-review'
        github_token: ${{ secrets.GITHUB_TOKEN }}
        working-directory: tools/gui
        
    - name: Run cargo clippy for mCRL2 tools
      uses: sksat/action-clippy@v1.1.1
      with:
        reporter: 'github-pr-review'
        github_token: ${{ secrets.GITHUB_TOKEN }}
        working-directory: tools/mcrl2/