name: Test Address Sanitizer

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: on

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:      
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
    
    - name: Install Ubuntu Dependencies
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: llvm, libfontconfig1-dev, libfreetype6-dev
        version: 1.0
      if: matrix.os == 'ubuntu-latest'

    - name: Setup sccache
      uses: mozilla-actions/sccache-action@v0.0.9
      
    - name: Install nightly rust
      uses: dtolnay/rust-toolchain@nightly
      with:
        components: rust-src
        
    - name: Install nextest
      uses: taiki-e/install-action@nextest   

    - name: Checkout the repository
      uses: actions/checkout@v6
      with:
        submodules: true

    - name: Run tests
      run: cargo +nightly xtask address-sanitizer nextest run --no-fail-fast
      env:
        RUST_BACKTRACE: full
        RUST_LOG: debug
        RUSTC_WRAPPER: sccache
        
    - name: Run mCRL2 tests
      run: cargo +nightly xtask address-sanitizer nextest run --no-fail-fast
      working-directory: tools/mcrl2
      env:
        RUST_BACKTRACE: full
        RUST_LOG: debug
        RUSTC_WRAPPER: sccache
